<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alterar senha</title>
</head>
<body>

<form method="post" class="form">
    {% csrf_token %}

    <div class="form-group">
        <label>Nova Senha </label>
        <input class="form-control" id="new_password1" name="new_password1"
               type="password"
               autocomplete="off" required>
    </div>

    <div class="form-group">
        <label>Confirmação de Senha </label>
       <input class="form-control" id="new_password2" name="new_password2"
                   type="password"
                   autocomplete="off" required>
    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-primary">Aterar Senha</button>

    </div>
</form>

</body>
</html>