<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cadastre-se</title>

    <link href="{% static 'public/bootstrap/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'public/bootstrap/vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'public/bootstrap/vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'public/bootstrap/css/sb-admin.css'%}" rel="stylesheet">
    <link href="https://rawgit.com/RobinHerbots/Inputmask/4.x/css/inputmask.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'public/LoginCss/formulario.css'%}" rel="stylesheet">
</head>
<body>
<div class="card card-register mx-auto mt-1500">
    <div class="card-header">Cadastre-se</div>
  <div class="card-body">

    <form method="POST" action="{% url 'disciplina:criar' %}">
      {% include 'parciais/_messages.html' %}

      {% csrf_token %}
      <div class="form-group">
        <label>Nome</label>
        <input type="text" name="first_name" value="{{request.POST.first_name}}" class="form-control">
      </div>
      <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" name="last_name" value="{{request.POST.last_name}}" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" value="{{request.POST.email}}" class="form-control">
      </div>

      <div class="form-group">
        <label>Usuário</label>
        <input type="text" name="username" value="{{request.POST.username}}" class="form-control">
      </div>

        <div>
            <label class="required" for="status">Tipo de usuário:</label>
            <select name="status" required="" id="status">
                <option value="" selected="">---------</option>
                <option value="professor">Professor</option>
                <option value="aluno">Aluno</option>
            </select>
        </div>


        <div class="form-group">
        <label>Senha</label>
        <input type="password" name="password" class="form-control">
      </div>

      <div class="form-group">
        <label>Confirmar Senha</label>
        <input type="password" name="password1" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>

</html>