{% extends 'base.html' %}

{% block conteudo %}

<div class="row">
    <div class="col-lg">
        <div class="row no-gutters">
            <div class="col-lg-12">
                {% if disciplina.imagem %}
                <img class="img-fluid" src="{{ disciplina.imagem.url }}">
                {% endif %}
            </div>
        </div>
    </div>
<div class="col-lg">
    <div class="mt-4 mt-lg-0">
        <h1 class="h2">{{disciplina.nome}}</h1>
        <p class="lead">{{disciplina.descricao_longa | linebreaks}}</p>
        <h1 class="lead"> Professor:
            {{disciplina.professor}}
        </h1>


    </div>
    <!--<button type="submit"  class="btn btn-primary">Inscrever-se</button>-->
    <a href="{% url 'disciplina:reservarDisciplina' disciplina.slug %}" class="btn btn-primary">Inscreva-se</a>
</div>
</div>

{% endblock %}