{% extends 'base.html' %}

{%block conteudo %}

<div class="row">
    <div class="col-lg-12">
        <div class="card-columns">

            {% for disciplina in disciplinas %}
            <div class="card">

                {% if disciplina.imagem %}
                <a href="{{disciplina.slug}}">
                <img class="card-img-top" src="{{ disciplina.imagem.url }}" alt="{{ disciplina.nome }}"
                style="max-width: 350px; height: auto">
                </a>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ disciplina.nome }}</h5>
                    <p class="card-text">{{ disciplina.titulo }}</p>

                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <!--<a href="post.html" class="p-2 mb-2 bg-secondary text-white text-white btn-sm m-1 btn-block">
                       <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Detalhes
                    </a>-->
                </div>
            </div>


            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}

