{% extends 'base.html' %}

{%block conteudo %}

<div class="row">
    <div class="col-lg-12" >

         {% if 'disciplina' not in request.path %}
            <br><br>
            <form method="get" action="{% url 'disciplina:busca' %}">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control"
                               type="search" value="{{ request.GET.termo }}"
                               id="search-input"
                               placeholder="Digite sua pesquisa"
                               name="termo">
                    </div>
                </div>
            </form>
            {% endif %}
        <div class="card-columns">



            {% for disciplina in disciplinas %}
            <div class="card" style="width: 18rem;">

                {% if disciplina.imagem %}
                <a href="{{ disciplina.slug }}">
                <img class="card-img-top" src="{{ disciplina.imagem.url  }}" alt="{{ disciplina.nome }}"
                style="max-width: 350px; height: auto">
                </a>
                {% endif %}

                <div class="card-body">
                     <a href="{{ disciplina.slug }}">
                         <h5 class="card-title">{{ disciplina.nome }}</h5></a>
                    <p class="card-text">{{ disciplina.titulo }}</p>
                </div>



                <!--<div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{{disciplina.slug}}" class="p-2 mb-2 bg-secondary text-white text-white btn-sm m-1 btn-block">
                       <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Detalhes
                    </a>
                </div>-->
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<nav aria-label="Navegação de página exemplo">
  <ul class="pagination">
      {% for pagina in disciplinas.paginator.page_range %}
        {% if disciplinas.number == pagina %}
          <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
        {% endif %}
  {% endfor %}
  </ul>
</nav>
{% endblock %}