{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}

{% include 'parciais/_messages.html' %}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-address-card"></i>Perfil Professor
    </div>
    <div class="card-body">
     <form method="POST" action="{% url 'professor:cadastroProfessor' %}" enctype="multipart/form-data">
         {% csrf_token %}
          {{form|crispy}}

          <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success">Adicionar</button>
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                </div>

            </div>

      </form>
</div>
</div>

{% endblock%}