{% extends 'base.html' %}
{%block conteudo%}
{% load crispy_forms_tags %}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa fa-institution"></i>Alterar Disciplina
    </div>
    <div class="card-body">
<form method="post" action="#" enctype="multipart/form-data">
	{% csrf_token %}
    <table class="table">

        {{ form|crispy}}

    </table>

       <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span>
	  				Atualizar
       </button>

     <button type="reset" class="btn btn-danger">Cancelar</button>

	</form>
    </div>
</div>
{%endblock%}