{% extends 'base.html' %}
{%block conteudo%}

<form method="post" action="#" enctype="multipart/form-data">
	{% csrf_token %}
    <table class="table">

        {{ form}}

    </table>

       <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span>
	  				Atualizar
       </button>

	</form>

    <!--<form method="POST" action="{% url 'professor:detail' %}" enctype="multipart/form-data">
      {% include 'parciais/_messages.html' %}

      {% csrf_token %}

      <div class="form-group">
        <label>Professor</label>
        <input type="text" name="professor"  class="form-control" value="{{disciplina.professor}}" id="professor">
      </div>
      <div class="form-group">
        <label>Disciplina</label>
        <input type="text" name="nome" id="nome"  value="{{disciplina.nome}}"  class="form-control">
      </div>
      <div class="form-group">
        <label>Titulo</label>
        <input type="text" name="titulo" id="titulo" value="{{disciplina.titulo}}" class="form-control">
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <input type="text" name="descricao_longa" id="descricao_longa" value="{{disciplina.descricao_longa}}" class="form-control">
      </div>
      <div class="form-group">
        <label>Imagem</label>
        <input type="file" class="form-control-file" name="imagem" id="imagem" value="{{disciplina.imagem}}">
      </div>

     <div class="form-group">
         <label>Data Início</label>
         <input id="date" type="date" name="data_inicio" value="{{disciplina.data_inicio}}"/>
    </div>


      <button type="submit" class="btn btn-primary">Alterar</button>
    </form>

  </div>
</div>-->



{%endblock%}