{% extends 'base.html' %}
{%block conteudo%}

 <!--{% if  request.user.is_authenticated %}-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Disciplina</th>
      <th scope="col">Usuario</th>
      <th scope="col">Status</th>
      <th scope="col">Data Reserva</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for usuariodisciplina in usuariodisciplinas %}
    <tr>

      <td>{{ usuariodisciplina.id }}</td>

      <td>{{ usuariodisciplina.disciplina.nome }}</td>

      <td>{{ usuariodisciplina.usuario.usuario }}</td>

      <td>{{ usuariodisciplina.status }}</td>

      <td>{{ usuariodisciplina.data_reserva }}</td>



      <th></th>

      <td>
        <a class="btn btn-info"  href="{% url 'professor:alterarStatusReserva' usuariodisciplina.id %}">Alterar</a>
        <a class="btn btn-primary"  href="#">Remover</a>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
<!--{% endif %}-->

{% endblock %}